.markdown
    h2:not(.toc-title)
        border-top: 1px dashed $color-dark-blue
        margin-top: 80px !important
        padding-top: 80px
    > h2:first-of-type
        border-top: none
        margin-top: 0 !important
        padding-top: 0
    h3
        margin-top: 50px
    img
        max-width: 100%
