<% if problem.organizations.any? %>
  <div class="h3 mb-5">
    Analyse par <%= sanitize problem.organizations.map { |organization| link_to(organization.to_s, organization_path(organization.slug)) }.to_sentence %>
  </div>
<% end %>