<table class="table">
  <thead>
    <tr>
      <th><%= Problem.human_attribute_name(:title) %></th>
      <% Taxonomy.all.ordered.each do |taxonomy| %>
        <th><%= taxonomy %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% problems.each do |problem| %>
      <tr>
        <td><%= link_to problem, problem %></td>
        <% Taxonomy.all.ordered.each do |taxonomy| %>
          <td><%= problem.categories.where(taxonomy: taxonomy).join(', ') %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
