<% content_for :title, 'Nos analyses' %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1><%= t ('front.analyzed.title_html') %></h1>
    </div>
  </div>
<% end %>

<% @categories.each do |category| %>
  <section class="mt-5">
    <h2><%= category %></h2>
    <%= render 'list',
                column_size: 3,
                problems: category.problems
                                  .important
                                  .ordered
                                  .limit(3) %>
  </section>
<% end %>