<% content_for :title, 'Pubs signalées' %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1>Pubs signalées</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3 search-filters accordion">
    <%= render 'faceted_search/facets', facets: @facets %>
  </div>
  <div class="col-md-9">
    <%= render 'problems/list', problems: @problems %>
    <%= paginate @problems %>
  </div
</div
