<% content_for :title, Problem.model_name.human(count: 2) %>

<% @taxonomies.each do |taxonomy| %>
  <h2 class="h5"><%= taxonomy %></h2>
  <ul class="list-unstyled list-inline">
    <% taxonomy.categories.ordered.each do |category| %>
      <li class="list-inline-item">
        <%= link_to category,
                    category_path(taxonomy_slug: taxonomy.slug, category_slug: category.slug),
                    class: 'btn btn-outline-primary rounded-pill mb-2 me-1 px-lg-3 py-lg-2' %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'problems/list', problems: @problems %>