<% content_for :title, Problem.model_name.human(count: 2) %>

<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <h1><%= Problem.model_name.human(count: 2) %></h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= render 'faceted_search/facets', facets: @facets %>
  </div>
  <div class="col-md-9">
    <%= render 'problems/list', problems: @problems %>
    <%= paginate @problems %>
  </div
</div
