<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Observatoire Citoyen de la Publicité</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam augue ipsum, dictum vel nisi feugiat, condimentum tristique tellus. Nam cursus, elit id tempus congue, urna justo aliquam velit, non maximus magna dolor vel dui. Praesent risus magna, faucibus id iaculis nec, mattis ac tortor. Aliquam nec tristique urna. Pellentesque at massa rutrum, gravida ante porttitor, euismod urna. Nam dignissim facilisis libero, vel aliquam odio egestas sit amet. Quisque vitae odio vitae magna facilisis luctus. Duis ac ornare dolor, id euismod libero.</p>
  </div>
</div>

<%= render "reports/form", report: @report %>
