<div id="sidebar" class="active">
  <div class="sidebar-wrapper active d-flex flex-column">
    <div class="sidebar-header position-relative text-center">
      <div class="logo">
        <%= link_to admin_root_path do %>
          <%= image_tag 'logo.svg' %>
        <% end %>
      </div>
    </div>
    <div class="sidebar-menu flex-grow-1">
      <%= render_navigation context: :admin %>
    </div>
  </div>
</div>