<% content_for :hero do %>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="my-5">
          <h1 class="display-4">
            Surveiller, <span>signaler</span> et comprendre la <span>publicité</span>
          </h1>
          <p class="lead my-5 pe-lg-5">
            Un outil, permettant aux citoyens de s’exprimer sur les discours publicitaires incitant à la surconsommation, stigmatisants, ou trompeurs. Ensemble reprenons le contrôle sur ces récits.
          </p>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4">
        <%= image_tag 'illustrations/hands.png', class: 'img-fluid', alt: '' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-3 mb-4">
    <div class="card bg-white border-0 h-100">
      <div class="card-body">
        <span>01</span>
        <h2>Repérons</h2>
        <p>Repérer les mauvaises pratiques publicitaires</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card bg-white border-0 h-100">
      <div class="card-body">
        <span>02</span>
        <h2>Publions</h2>
        <p>Publier les campagnes problématiques</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card bg-white border-0 h-100">
      <div class="card-body">
        <span>03</span>
        <h2>Mobilisons</h2>
        <p>Mobiliser ses organisations sur leurs sujets d’expertise</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-4">
    <div class="card bg-white border-0 h-100">
      <div class="card-body">
        <span>04</span>
        <h2>Animons</h2>
        <p>Animer le débat public sur la régulation des contenus</p>
      </div>
    </div>
  </div>
</div>

<h2>Les dernières campagnes</h2>
<%= render 'problems/list', problems: @problems %>
<%= link_to 'Voir toutes', problems_path %>

<div class="row">
  <div class="offset-lg-2 col-lg-8">
    <div class="card bg-form border-0 my-5">
      <div class="card-body p-lg-5">
        <h2 class="mb-5">Signaler une pub</h2>
        <%= render "reports/form", report: @report %>
      </div>
    </div>
  </div>
</div>