// search
.faceted__facets
    .faceted__facet__text
        @extend .d-flex
        @extend .gap-2
        @extend .my-4
        input[type="search"]
            --bs-border-width: 0
            background-color: $color-light-blue
        input[type="submit"]
            color: $color-light-blue
            background-color: $color-dark-blue
            &:hover
                color: $color-dark-blue
                background-color: $color-light-blue
    .faceted__facet__list
        @extend .d-flex
        @extend .align-items-baseline
        @extend .flex-wrap
        @extend .gap-2
        > li:first-of-type
            padding-top: map-get($spacers, 2)
        .faceted__facet__list__value a
            @extend .btn
            @extend .btn-sm
            @extend .btn-outline-dark
            @extend .text-black
            @extend .rounded-pill
    .faceted__facet__reinit a
        @extend .btn-dark
        @extend .mt-4
        @extend .px-3

// facets accordions
.search-filters.accordion
    --bs-accordion-color: $color-blue
    --bs-accordion-bg: $color-white
    --bs-accordion-border-color: transparent
    --bs-accordion-border-width: 0
    --bs-accordion-border-radius: 0
    --bs-accordion-inner-border-radius: 0
    --bs-accordion-btn-padding-x: 0
    --bs-accordion-btn-padding-y: 0
    --bs-accordion-btn-focus-border-color: $color-blue
    --bs-accordion-btn-focus-box-shadow: none
    --bs-accordion-active-color: $color-black
    --bs-accordion-active-bg: $color-blue
