footer
    background-color: $color-light-blue
    .footer-about
        h2
            font-size: 3.125rem
            @include media-breakpoint-up(md)
                font-size: 6.25rem
            @include media-breakpoint-up(lg)
                font-size: 5.625rem
            @include media-breakpoint-up(xl)
                font-size: 5.625rem
            @include media-breakpoint-up(xxl)
                font-size: 6.25rem
        .summary
            @extend .h4
        h2,
        .summary
            color: $color-dark-blue
    .shortcode__members,
    .shortcode__partners
        padding-left: map-get($spacers, 2)
        padding-right: map-get($spacers, 2)
        @include media-breakpoint-up(md)
            padding-left: map-get($spacers, 7)
            padding-right: map-get($spacers, 7)
        @include media-breakpoint-down(md)
            li img
                min-width: unset
    .footer-menu
        @extend .text-white
        background-color: $color-dark-blue
        .logo
            width: 300px
            margin-bottom: 60px
        div > .navbar-nav
            @extend .row
            @extend .flex-md-row
            > .nav-item
                // @extend .col-md-6
                // @extend .col-lg-4
                // > a
                //     @extend .h5
                @include media-breakpoint-down(lg)
                    margin-bottom: map-get($spacers, 3)
        a
            @extend .text-white
            text-decoration: none
            &:hover
                text-decoration: underline
    .footer-legal
        @extend .d-lg-flex
        @extend .gap-3
        flex: 2
        flex-wrap: wrap
        p
            @extend .mb-lg-0
        @include media-breakpoint-down(md)
            > a
                display: block
                + *
                    margin-top: 1rem
    .footer-socials
        @extend .d-flex
        @extend .gap-2
        flex: 1
        flex-wrap: wrap
        a
            @extend .d-flex
            @extend .align-items-center
            @extend .justify-content-center
            @extend .border
            @extend .border-white
            @extend .rounded-pill
            aspect-ratio: 1
            font-family: $font
            height: 44px
            width: 44px
            span
                @extend .visually-hidden
            &.email
                @include icon(email, before)
            &.facebook
                @include icon(facebook, before)
            &.github
                @include icon(github, before)
            &.instagram
                @include icon(instagram, before)
            &.linkedin
                @include icon(linkedin, before)
            &.mastodon
                @include icon(mastodon, before)
            &.bluesky
                @include icon(bluesky, before)
            &.x
                @include icon(x, before)
            &:hover
                background-color: $color-light-blue
                color: $color-dark-blue !important
                text-decoration: none
    .footer-newsletter
        .sib-form, #sib-container, .sib-form-block
            padding: 0
        .sib-form-block > p 
            @extend .h5
        .input, &.input::placeholder
            font-family: $font-family-sans-serif
            color: $color-dark-blue
        .entry__specification
            font-family: $font-family-sans-serif !important
            color: $color-white !important