// typography
.badge
    --bs-badge-font-weight: normal
    font-family: $font
    font-size: 16px
    @include media-breakpoint-down(md)
        white-space: wrap
        text-align: left

// colors
.bg-form
    background: $color-light-pink
h2,
h3
    color: $color-dark-blue

.bg-secondary
    @extend .text-black

// animation
@keyframes infinite-rotation
    0%
        -webkit-transform: translateY(-40%) rotate(0deg)
        -o-transform: translateY(-40%) rotate(0deg)
        transform: translateY(-40%) rotate(0deg)
    100%
        -webkit-transform: translateY(-40%) rotate(360deg)
        -o-transform: translateY(-40%) rotate(360deg)
        transform: translateY(-40%) rotate(360deg)

// layout
.hero
    background: $color-dark-blue
    *
        color: $color-white
    h1
        color: $color-white !important
        font-family: $font-kaio
        span
            color: $color-black !important
            background: $color-pink
            padding: 5px 30px
            border-radius: 50px
            display: inline-block
            transform: rotate(-1deg)
            &:nth-of-type(2)
                background: $color-yellow
                transform: rotate(1deg)
        @include media-breakpoint-down(md)
            padding-bottom: map-get($spacers, 3)
    
    @include media-breakpoint-down(md)
        padding-top: map-get($spacers, 4)

.banner
    @extend .py-2
    @extend .py-lg-3
    @extend .px-4
    p
        margin-bottom: 0
        margin-left: auto
        margin-right: auto
        text-align: center
        @include media-breakpoint-up(lg)
            max-width: 70%
    &--header
        font-family: $font-kaio
        background: $color-green

.breadcrumb
    --bs-breadcrumb-item-active-color:#{$color-white}
    .breadcrumb-item
        a
            text-decoration: none
        + .breadcrumb-item
            --bs-breadcrumb-divider-color: #{$color-white}
            @include icon(arrow, before)
            &::before
                font-size: $meta-font-size
                float: unset
                vertical-align: baseline

.toc
    text-align: left !important
    z-index: 2
    > div
        top: map-get($spacers, 3)
    .toc-title
        color: $color-black
        font-size: $font-size-base
        font-family: $font
    ul
        padding: 0
        list-style-type: none
        li
            margin-bottom: 5px
            + li
                @extend .mt-2
            a
                @include icon(arrow, before)
                text-decoration: none
                color: $color-text-alt
                &::before
                    font-size: 14px
                    margin-right: map-get($spacers, 1)
                    transition: transform 0.3s ease
                    vertical-align: baseline
                    transform: rotate(-45deg)
                    @include media-breakpoint-up(md)
                        font-size: $meta-font-size
                &.active
                    color: $color-dark-blue
                    &::before
                        transform: rotate(0)
    nav
        .active-item ~ li a::before
            transform: rotate(45deg)
    @include media-breakpoint-down(lg)
        margin-bottom: map-get($spacers, 4)
    @include media-breakpoint-down(md)
        background: $color-light-blue
        margin-top: -(map-get($spacers, 2))
        padding-top: map-get($spacers, 3)
        &, .toc-title
            font-size: $meta-font-size

section
    h2
        margin-bottom: 3.125rem
    + section
        margin-top: 3rem
        @include media-breakpoint-up(md)
            margin-top: 7rem

// components
hr
    border-top: 2px dotted $color-dark-blue
    opacity: 1
form
    label
        font-size: $meta-font-size
    input:not([type="submit"])
        border-radius: 10px !important
    .form-control
        font-size: 16px

details
    background-color: $color-light-blue
    border-radius: 20px
    margin-bottom: map-get($spacers, 2)
    padding: map-get($spacers, 3) map-get($spacers, 4)
    summary
        @include icon(chevron, after)
        color: $color-dark-blue
        display: flex
        align-items: baseline
        gap: map-get($spacers, 2)
        font-family: $font-kaio
        position: relative
        &::after
            background: none !important
            margin-left: auto
            transform: rotate(90deg)
            transition: transform 0.3s ease
    &[open] summary
        margin-bottom: map-get($spacers, 2)
        &::after
            transform: rotate(270deg)
    + p
        margin-top: map-get($spacers, 3)
    @include media-breakpoint-up(md)
        border-radius: $border-radius-lg
        summary
            gap: map-get($spacers, 3)

.accordion
    &-button
        @include icon(chevron, after)
        &::after
            background: none !important
            transform: rotate(90deg)
            transition: none
        &[aria-expanded="true"]::after
            transform: rotate(270deg)

.card
    &--problem
        --bs-card-border-width: 0
        --bs-card-border-radius: 40px
        height: 100%
        padding: 2px
        > .card-content
            background: var(--bs-body-bg)
            border-radius: var(--bs-card-border-radius)
            display: flex
            flex-direction: column
            height: 100%
            position: relative
            transition: transform 0.3s ease
            z-index: 2
        picture
            display: block
            margin: -2px
            width: calc(100% + 4px)
            img
                border-radius: var(--bs-card-border-radius) !important
        .card-body
            @extend .pt-4
            display: flex
            flex-direction: column
            > div
                margin-top: auto !important
            .card-date
                font-size: $meta-font-size
        .badge-step
            position: absolute
            top: map-get($spacers, 3)
            left: map-get($spacers, 3)
        &::before
            background: $color-light-blue
            border-radius: var(--bs-card-border-radius)
            bottom: 0
            content: ''
            height: 100%
            left: 0
            position: absolute
            width: 100%
            z-index: 0
        &:hover .card-content
            transform: translateY(-(map-get($spacers, 2)))
    .problem__thumb
        aspect-ratio: 1.3304
        object-fit: cover
        filter: grayscale(1)
    &:hover .problem__thumb
        filter: grayscale(0)

// page show
.page-content
    * + h2
        @extend .mb-4

.reports
    h2 span
        @extend .ms-1
        display: inline-block
        position: relative
        &::before
            @extend .rounded-pill
            background-color: $color-green
            bottom: -4px
            content: ''
            left: -8px
            position: absolute
            right: -8px
            top: -4px
            transform: rotate(-2deg)
            z-index: -1

    @include media-breakpoint-down(md)
        .row
            mmargin-left: 0 !important
            margin-right: 0 !important

// problem show
.problem-presentation
    position: relative
    .problem-content
        h2
            font-size: 2rem
        h3
            @extend .h4
        h4
            @extend .h5
        p + h3
           @extend .pt-3
    .problem-categories
        li
            margin-bottom: map-get($spacers, 2)
        > li + li
            @include media-breakpoint-down(lg)
                margin-top: map-get($spacers, 3)
    .badge-step
        top: map-get($spacers, 3)
        left: map-get($spacers, 4)
        position: absolute
    @include media-breakpoint-down(md)
        div + div
            padding-top: map-get($spacers, 4)
.report-list
    background-color: $color-light-green
    margin-bottom: -(map-get($spacers, 5))
    .meta
        font-size: 16px
