<% content_for :title, @category %>

<p><%= @category.description %></p>

<% content_for :buttons do %>
  <%= link_to 'Modifier', edit_admin_category_path(@category), class: button_classes %>
<% end %>
