<ul class="list-unstyled d-flex flex-wrap align-items-md-center justify-content-md-around my-2 my-lg-5 pb-2 pb-lg-5 gap-0 gap-md-3">
  <% organizations.each do |organization| %>
    <%
    attachment_method = bw ? :logo_bw : :logo
    attachment = organization.public_send(attachment_method)
    next unless attachment.attached?
    %>
    <li>
      <%= link_to organization_path(slug: organization.slug) do %>
        <%= image_tag rails_blob_path(attachment),
                      class: 'img-fluid',
                      alt: organization.to_s %>
      <% end %>
    </li>
  <% end %>
</ul>
