<footer class="mt-5 py-5 bg-white">
  <div class="container pt-5">
    <div class="mb-5 text-center">
      <a href="/">
        <%= image_tag 'logo.svg', alt: t('front.website'), class: 'logo' %>
      </a>
    </div>
    <hr>
    <div class="row row-cols-2 row-cols-lg-4 align-items-center">
      <% [
        ['amis-terre.png', 'Les amis de la Terre'],
        ['code.svg', 'Communication et démocratie'],
        ['hop.svg', 'Halte à l\'obsolescence programmée'],
        ['rap.jpg', 'Résistance à l\'agression publicitaire'],
        ['sherpa.svg', 'Sherpa'],
        ['veblen.png', 'Institut Veblen'],
        ['zerowaste.jpg', 'Zero Waste'],
      ].each do |logo, name| %>
        <div class="col">
          <%= image_tag "logos/#{logo}",
                        class: 'img-fluid pe-5 mb-5', 
                        alt: name %>
        </div>
      <% end %>
    </div>

    <a href="https://plausible.io/observatoirecitoyenpublicite.org" target="_blank">Statistiques publiques d'audience</a>
  </div>
</footer>