<nav class="navbar navbar-expand-lg my-5">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo.svg', alt: t('front.website') %>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto justify-content-end" id="navbar">
      <%= render_navigation %>
    </div>
  </div>
</nav>