@font-face
    font-display: swap
    font-family: 'Aspekta'
    font-style: normal
    font-weight: 400
    src: asset-url("Aspekta-350.woff2") format("woff2"), url("Aspekta-350.woff") format("woff")

@font-face
    font-display: swap
    font-family: 'Aspekta'
    font-style: normal
    font-weight: 700
    src: asset-url("Aspekta-700.woff2") format("woff2"), url("Aspekta-700.woff") format("woff")
