@font-face
    font-display: swap
    font-family: 'Kaio'
    font-style: normal
    font-weight: 400
    src: asset-url('Kaio-Medium.woff2') format('woff2'), url('Kaio-Medium.woff') format('woff')

@font-face
    font-display: swap
    font-family: 'Kaio Krilin'
    font-style: normal
    font-weight: 400
    src: asset-url('Kaio-Krilin.woff2') format('woff2'), url('Kaio-Krilin.woff') format('woff')

@font-face
  font-display: swap
  font-family: 'Be Vietnam Pro'
  font-style: normal
  font-weight: 400
  src: asset-url('be-vietnam-pro-v11-latin-300.eot')
  src: asset-url('be-vietnam-pro-v11-latin-300.eot?#iefix') format('embedded-opentype'), asset-url('be-vietnam-pro-v11-latin-300.woff2') format('woff2'), asset-url('be-vietnam-pro-v11-latin-300.woff') format('woff'), asset-url('be-vietnam-pro-v11-latin-300.ttf') format('truetype'), asset-url('be-vietnam-pro-v11-latin-300.svg#BeVietnamPro') format('svg')

@font-face
  font-display: swap
  font-family: 'Be Vietnam Pro'
  font-style: normal
  font-weight: 700
  src: asset-url('be-vietnam-pro-v11-latin-600.eot')
  src: asset-url('be-vietnam-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), asset-url('be-vietnam-pro-v11-latin-600.woff2') format('woff2'), asset-url('be-vietnam-pro-v11-latin-600.woff') format('woff'), asset-url('be-vietnam-pro-v11-latin-600.ttf') format('truetype'), asset-url('be-vietnam-pro-v11-latin-600.svg#BeVietnamPro') format('svg')

@font-face
  font-display: swap
  font-family: 'Be Vietnam Pro'
  font-style: italic
  font-weight: 400
  src: asset-url('be-vietnam-pro-v11-latin-300italic.eot')
  src: asset-url('be-vietnam-pro-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), asset-url('be-vietnam-pro-v11-latin-300italic.woff2') format('woff2'), asset-url('be-vietnam-pro-v11-latin-300italic.woff') format('woff'), asset-url('be-vietnam-pro-v11-latin-300italic.ttf') format('truetype'), asset-url('be-vietnam-pro-v11-latin-300italic.svg#BeVietnamPro') format('svg')

@font-face
  font-display: swap
  font-family: 'Be Vietnam Pro'
  font-style: italic
  font-weight: 700
  src: asset-url('be-vietnam-pro-v11-latin-600italic.eot')
  src: asset-url('be-vietnam-pro-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), asset-url('be-vietnam-pro-v11-latin-600italic.woff2') format('woff2'), asset-url('be-vietnam-pro-v11-latin-600italic.woff') format('woff'), asset-url('be-vietnam-pro-v11-latin-600italic.ttf') format('truetype'), asset-url('be-vietnam-pro-v11-latin-600italic.svg#BeVietnamPro') format('svg')

@font-face
    font-display: block
    font-family: 'Iconfont'
    font-weight: normal
    src: asset-url('icomoon.ttf') format("ttf"), asset-url('icomoon.woff') format("woff"), asset-url('IconFont.woff2') format("woff2")

// ICONS
@mixin icon($icon-name: '', $pseudo-element: before)
    &::#{$pseudo-element}
        content: map-get($icons, $icon-name)
        display: inline-block
        font-family: 'Iconfont'
        font-style: normal
        font-variant: normal
        font-weight: normal
        line-height: 1
        speak: never
        text-transform: none
        vertical-align: middle
        @content