.navbar-brand
    img
        height: 80px
footer
    .logo
        height: 80px
.top
    background: $color-yellow
    text-align: center
    padding: 10px

.toc
    ul
        padding: 0
        list-style-type: none
        li
            margin-bottom: 5px
            a
                text-decoration: none