// typography
.badge
    --bs-badge-font-weight: normal
    
// colors
.bg-form
    background: $color-light-pink
.bg-secondary
    @extend .text-black
    
.hero
    background: $color-dark-blue
    *
        color: $color-white
    h1
        color: $color-white !important
        font-family: $font-kaio
        span
            color: $color-black !important
            background: $color-pink
            padding: 5px 30px
            border-radius: 50px
            display: inline-block
            transform: rotate(-1deg) 
            &:nth-of-type(2)
                background: $color-yellow
                transform: rotate(1deg)

.navbar
    background: $color-dark-blue
    @include media-breakpoint-up(lg)
        padding-top: 50px
        padding-bottom: 100px
    *
        color: $color-white !important
    .dropdown-menu
        background: $color-black
    .navbar-brand
        img
            height: 40px
            @include media-breakpoint-up(lg)
                height: 60px

.breadcrumb
    .breadcrumb-item
        + .breadcrumb-item::before
            color: $color-white
        &.active
            color: $color-white

.problem__thumb
    aspect-ratio: 16/9
    object-fit: cover
    filter: grayscale(1)
    .card:hover & 
        filter: grayscale(0)

.card
    &--problem
        border: 2px solid $color-white
        picture
            margin: -2px

footer
    .logo
        height: 80px

.top
    background: $color-yellow
    text-align: center
    padding: 10px

.toc
    ul
        padding: 0
        list-style-type: none
        li
            margin-bottom: 5px
            a
                text-decoration: none

footer
    background-color: $color-white
    .footer-navigation
        @extend .text-white
        background-color: $color-black
        div > ul
            @extend .d-md-flex
            @extend .flex-md-row
            @extend .justify-content-md-around
            li
                @extend .col-md-3

// problem show
.report-list
    background-color: $color-light-green
    .meta
        font-size: 16px

// search
.faceted__facets
    .faceted__facet__text
        @extend .d-flex
        @extend .gap-2
        @extend .my-4
        input[type="search"]
            --bs-border-width: 0
            background-color: $color-light-green
        input[type="submit"]
            @extend .visually-hidden
    .faceted__facet__list
        @extend .d-flex
        @extend .flex-wrap
        @extend .gap-2
        li a
            @extend .btn-outline-dark
            @extend .text-black
            @extend .btn-sm
            @extend .rounded-pill
// facets accordions
.search-filters.accordion
    --bs-accordion-color: $color-blue
    --bs-accordion-bg: $color-white
    --bs-accordion-border-color: transparent
    --bs-accordion-border-width: 0
    --bs-accordion-border-radius: 0
    --bs-accordion-inner-border-radius: 0
    --bs-accordion-btn-padding-x: 0
    --bs-accordion-btn-padding-y: 0
    --bs-accordion-btn-focus-border-color: $color-blue
    --bs-accordion-btn-focus-box-shadow: none
    --bs-accordion-active-color: $color-black
    --bs-accordion-active-bg: $color-blue
