$color-blue: #0A0B7A
$color-grey: #FBF7F4
$color-yellow: #FBD961

$font: "Aspekta", sans-serif

// Bootstrap
$body-bg: $color-grey
$primary: $color-blue
$border-radius: 16px
$input-border-radius: 4px
$btn-border-radius: 4px
$font-family-serif: $font
$font-family-sans-serif: $font
